extends layout
block content
  h1 #{title}
  .container
    .row
      .col-md-6.col-xs-6.col-md-offset-3.text-center
        embed(src='#{movie.videoUrl}', width='100%', height='480')
        h2 #{movie.title}
