extends layout
block content
  h1 #{title}
  .container
    .row
      each item in movies
        .col-md-3.col-xs-6.text-center
          a(href='')
            img.img-thumbnail(src='#{item.picUrl}', alt='')
          h3
            a(href='') #{item.title}