.glist{width:23%;	 }
		.goodlists .glist:nth-child(2n){ margin-left: 0;}
		.goodlists .glist:nth-child(3n+2){ margin-left: 0%; margin-right: 0%;}
		.goodlists .glist:nth-child(4n+2){ margin-left: 2.66%; margin-right:2.666%;}
		.goodlists .glist:nth-child(4n+3){margin-right:2.666%;}