body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
li,
ol,
span,
i,
a,
img,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
section,
aside,
nav,
footer,
figure,
figcaption {
  display: block;
}
body {
  font-family: "微软雅黑", sans-serif;
  font-size: 13px;
  background-color: #f4f4f4;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h3 {
  margin-bottom: 10px;
}
.l {
  float: left;
}
.r {
  float: right;
}
.text-success {
  color: #3dbf03;
}
.round {
  border-radius: 6px;
}
.m10 {
  margin: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.fixed {
  overflow: hidden;
}
.text-alert {
  color: #fa9d33;
}
.f-title {
  font-size: 18px;
}
.bg-alert {
  background-color: #fa9d33;
  color: #fff;
}
.list {
  background: #fff;
}
.list .item-body {
  line-height: inherit;
}
.list .item:last-child {
  border-bottom: none;
}
.list .item {
  border-bottom: 0.4px solid #d7d7d7;
  min-height: 44px;
  line-height: 44px;
  padding: 10px;
  padding-top: 0 ;
  padding-bottom: 0;
  position: relative;
}
.list .item:after {
  content: "";
  display: block;
  clear: both;
}
.list .item .item-label {
  width: 20%;
  float: left;
  color: #999999;
  text-align: right;
  padding-right: 15px;
}
.list .item.has-label .item-content {
  width: 80%;
  float: left;
  color: #333333;
  text-align: left;
}
.list .item .item-note {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%);
}
.list .item .item-note:after {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translate(50%, -30%);
}
.list .item.has-note {
  padding-right: 100px;
}
.list .item.item-body {
  line-height: 1.7em;
  padding: 10px;
}
.header {
  border-bottom: 0.4px solid #d7d7d7;
  min-height: 44px;
  line-height: 44px;
  padding: 10px;
  padding-top: 0 ;
  padding-bottom: 0;
  position: relative;
  background-color: #fff ;
}
.header:after {
  content: "";
  display: block;
  clear: both;
}
.header .item-label {
  width: 20%;
  float: left;
  color: #999999;
  text-align: right;
  padding-right: 15px;
}
.header.has-label .item-content {
  width: 80%;
  float: left;
  color: #333333;
  text-align: left;
}
.header .item-note {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%);
}
.header .item-note:after {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translate(50%, -30%);
}
.header.has-note {
  padding-right: 100px;
}
.header.item-body {
  line-height: 1.7em;
  padding: 10px;
}
.header .title {
  font-size: 18px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0;
}
.header .btn:nth-child(1) {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header .btn.btn-right {
  position: absolute;
  right: 10px;
  top: 10px;
}
.header.logo {
  position: absolute;
  left: 50px;
  top: 14px;
  height: 18px;
  width: 18px;
  background-size: 100% auto;
  background-image: url(../img/logo.png);
}
.btn {
  font-size: 15px;
  padding: 4px 6px;
}
.icon-back:after {
  content: "";
  height: 12px;
  width: 12px;
  display: inline-block;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  transform: rotate(-45deg) translate(50%, -75%);
}
.btn-block {
  display: block;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background-color: #fff;
}
.has-footer {
  padding-bottom: 44px;
}
.col-30 {
  width: 30%;
  float: left;
}
.col-70 {
  width: 70%;
  float: left;
}
.love {
  color: blue;
  width: 100px;
}
.bad {
  color: black;
}
.bad {
  font-size: 14px;
  background-color: red;
  background-position: center center;
}
.bad {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}
