<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="script/angular.min.js"></script>
		<script src="script/jquery-2.2.1.min.js"></script>
		<script src="script/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		
	</head>
	<body>	
	
	<div class="container" ng-controller="myCtrl">
			<div class="row">
				<table class="table table-hover table-stripe">
					<tr>
						<td>序号</td>
						<td>姓名</td>
						<td>性别</td>
						<td>年龄</td>
						<td>成绩</td>
					</tr>
					<!--<tr ng-repeat="item in data|orderBy:'-score'|limitTo:5|filter:{score:8}">过滤满足条件的-->
					<!--<tr ng-repeat="item in data|orderBy:'-score'|limitTo:5|filter:getBest">过滤函数getBest-->
					<tr ng-repeat="item in data|orderBy:'-score'|limitTo:5|filter:{$:8}"><!--$全局查找-->
					
						<td>{{$index+1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.sex}}</td>
						<td>{{item.age}}</td>
						<td>{{item.score}}</td>
					</tr>
				</table>
			</div>
		</div>
	<script>
		var app=angular.module("myapp",[])
				.controller("myCtrl",["$scope",function($scope){
				 $scope.data = [
		            { name: "张明明", sex: "女", age: 24, score: 9 },
		            { name: "李清思", sex: "女", age: 27, score: 87 },
		            { name: "刘小华", sex: "男", age: 28, score: 86 },
		            { name: "陈忠忠", sex: "男", age: 23, score: 97 }
		            ];
				$scope.getBest=function(elem){
					return elem.score>10
				}
				}])
				
	</script>		
	</body>
</html>
